altair
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
cycler
decorator
entrypoints
fonttools
gitdb
GitPython
idna
imageio
importlib-metadata
importlib-resources
Jinja2
jsonschema
kiwisolver
lpips
markdown-it-py
MarkupSafe
matplotlib
mdurl
networkx
numpy
opencv-contrib-python
opencv-python
packaging
pandas
Pillow
pip
pkgutil_resolve_name
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
PyWavelets
requests
rich
scikit-image
scipy
semver
setuptools
six
smmap
tifffile
toml
toolz
torch
torchvision
tornado
tqdm
typing_extensions
tzlocal
urllib3
validators
vega-datasets
watchdog
wheel
zipp
